[Unit]
Description=Iot Server Daemon
After=network.target

[Service]
User=root
Group=root
Type=forking
PIDFile=/var/run/iot/iot.pid
ExecStart=/usr/bin/php /opt/iot/main.php
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
